@model IEnumerable<SGIAMT.Controllers.TUsuariosController.horarioclaseview>
@{
    ViewData["Title"] = "Alumno";
    Layout = "~/Views/Shared/_LayoutPerfil/_LayoutAlumno.cshtml";
}


<head>
    <link href="~/css/RegistroStyle.css" rel="stylesheet" />
</head>

<style type="text/css">
    .table th, .table td {
        text-align: center;
        background-color: snow;
    }
</style>

<body>
    <div class="container" style="padding:-150px">

        <form asp-action="DetalleHorarioClase" class="cod-form">

            <div class="card">
                <div class="form-group" style="width : 60% ; margin: 35px 0px 0px 100px">
                    <h2 style="color:white">Horario Clase de Alumno</h2>
                </div>
                <br /><br />
                      <div class="card-body">
                          <table class="table table-bordered table-striped table-sm" id="tabla">
                              <thead>
                                  <tr>
                                      <th style="background-color: #D3DFEC">
                                          Dni
                                      </th>
                                      <th style="background-color: #D3DFEC">
                                          Nombre
                                      </th>
                                      <th style="background-color: #D3DFEC">
                                          Apellido Paterno
                                      </th>
                                      <th style="background-color: #D3DFEC">
                                          Apellido Materno
                                      </th>


                                  </tr>
                              </thead>
                              <tbody>
                                  @foreach (var item in Model)
                                  {
                                      <tr>
                                          <td>
                                              @Html.DisplayFor(modelItem => item.pkasistencia)
                                          </td>
                                          <td>
                                              @Html.DisplayFor(modelItem => item.nombre)
                                          </td>
                                          <td>
                                              @Html.DisplayFor(modelItem => item.apellidopa)
                                          </td>
                                          <td>
                                              @Html.DisplayFor(modelItem => item.apellidoma)
                                          </td>

                                      </tr>
                                  }
                              </tbody>
                          </table>
                          <table class="table table-bordered table-striped table-sm" id="tabla">
                              <thead>
                                  <tr>
                                      @*<th style="background-color: #D3DFEC">
                                          semana del progreso
                                      </th>*@
                                      <th style="background-color: #D3DFEC">
                                          Semana
                                      </th>
                                      <th style="background-color: #D3DFEC">
                                          Dia
                                      </th>


                                  </tr>
                              </thead>
                              <tbody>
                                  @foreach (var item in Model)
                                  {
                                      <tr>

                                          @*<td>
                                              @Html.DisplayFor(modelItem => item.semanaprogreso)
                                          </td>*@
                                          <td>
                                              @Html.DisplayFor(modelItem => item.semana)
                                          </td>
                                          <td>
                                              @Html.DisplayFor(modelItem => item.dia)
                                          </td>
                                      </tr>
                                  }
                              </tbody>
                          </table>
                          <table class="table table-bordered table-striped table-sm" id="tabla">
                              <thead>
                                  <tr>

                                      <th style="background-color: #D3DFEC">
                                          Horario
                                      </th>
                                      <th style="background-color: #D3DFEC">
                                          Nivel
                                      </th>
                                      <th style="background-color: #D3DFEC">
                                          Tipo nivel
                                      </th>

                                  </tr>
                              </thead>
                              <tbody>
                                  @foreach (var item in Model)
                                  {
                                      <tr>


                                          <td>
                                              @Html.DisplayFor(modelItem => item.horario)
                                          </td>
                                          <td>
                                              @Html.DisplayFor(modelItem => item.nivel)
                                          </td>
                                          <td>
                                              @Html.DisplayFor(modelItem => item.tiponivel)
                                          </td>
                                      </tr>
                                  }
                              </tbody>
                          </table>

                      </div>
                <div class="form-group">
                    <a asp-controller="Alumnohome" asp-action="HorarioClase" class="btn btn-primary active" role="button">atras</a>
                </div>
            </div>

        </form>

    </div>
    @*</div>*@
    <!--/.col-->

</body>
