@model SGIAMT.Models.TProgreso

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutPerfil/_LayoutProfesor.cshtml";
}


<br /><br />
<head>
    <title>Registrar Progreso</title>

    <link href="~/css/RegistroStyle.css" rel="stylesheet" />
</head>
<style type="text/css">
    .table th, .table td {
        text-align: center;
    }

    .btn-inline {
        margin-top: 20px;
    }

    .ui-jqgrid-view {
        background-color: white;
        /*height: 315px;
        width: 1050px;
        background-color: white;*/
    }

    /*cuerpo*/
    .ui-jqgrid .ui-jqgrid-btable tbody tr.jqgrow td {
        overflow: hidden;
        /*white-space: normal;
        padding-right: 2px;
        cursor: pointer;
        height:auto;
    overflow:hidden;*/
        cursor: pointer;
        height: auto;
        padding-right: 4px;
        padding-top: 2px;
        position: relative;
        vertical-align: text-top;
        white-space: normal !important;
    }

    .ui-jqgrid-bdiv {
        height: auto !important;
    }
    /*cabecera*/
    table.ui-jqgrid-htable thead th {
        height: 40px;
        padding: 0 2px 0 2px;
        background: #d3dfec;
        color: black;
        font-size: 14px;
        font-weight: 700;
        text-align: center;
        font-style: initial;
    }

    .table-responsives {
        overflow-x: hidden !important;
        overflow-y: hidden !important;
    }

    .table tbody td {
        padding: 1px 7px 1px 7px !important;
        height: 30px;
        font-size: 13px;
        vertical-align: inherit;
    }

    table.ui-pager-table tbody td {
        padding: 4px 7px 4px 7px !important;
        background: #d3dfec;
    }

    #table-listar-usuarios tr td {
        vertical-align: middle;
        text-align: center;
        width: 100%;
        height: 50px;
        border-bottom: 1px solid #ddd;
        background-color: snow;
        color: black;
    }

    .ui-jqgrid tr.jqgrow td {
        white-space: nowrap !important;
        width: 100%;
        height: 50px;
    }
</style>


<script>

    function prueba() {
        var categoria = Number(document.getElementById("DpNotaPasos").value);
        var categoria1 = Number(document.getElementById("DpNotaTecnica").value);
        var categoria2 = Number(document.getElementById("DpNotaInteres").value);
        var categoria3 = Number(document.getElementById("DpNotaHabilidad").value);
        suma = (categoria + categoria1 + categoria2 + categoria3);
        promedio = parseInt(suma);
        promedio = (suma / 400);

        alert(promedio);
        document.getElementById("DpTotalNota").value = promedio;
    }
</script>

<body>
    <div class="container">

        <div class="row ">
            <div class="col-10" style="width : 100% ; margin: 25px 0px 0px 65px">
                <h2 style="color:white">Gestionar Progreso</h2>
                <br />
                <h4 style="color:white">Tipo Usuario : &nbsp; @ViewData["tipousuario"] &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; correo :  &nbsp; @ViewData["correo"] &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  nombre :&nbsp;&nbsp; @ViewData["nombre"] &nbsp;&nbsp; @ViewData["paterno"]&nbsp;&nbsp; @ViewData["materno"]</h4>
                <br />
            </div>
            <div class="col-10" style="margin: 30px 100px 0px 150px">
                <!-- Button trigger modal -->
                <button type="button" data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-primary btn-default">
                    <span class="glyphicon glyphicon-plus-sign"></span> Registrar Progreso
                </button>
                <button onclick="window.history.back()" , class="btn btn-success" style="margin: 0px 30px"><span class="glyphicon glyphicon-circle-arrow-left"></span> Regresar</button>
            </div>
        </div>
    </div>
    <div style="margin: 50px 0 0 50px;" class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body" align="center">
                    <table id="table-listar-usuarios"></table>
                    <div id="pager-listar-usuarios"></div>
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLongTitle">Registrar Progreso</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label>Nombre del Progreso</label>
                            <input class="form-control" id="nombreP" />
                        </div>

                        <div class="form-row">
                            <div class="form-group">
                                <label>Semana</label>
                                <select id="PkIsSemana" name="PkIsSemana" class="form-control">
                                    <option selected>--Seleccione--</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label>Dia</label>
                                <select id="PkIdDia" name="PkIdDia" class="form-control" onchange="javascript:semanaxdia()">
                                    <option selected>--Seleccione--</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label> Nota de pasos</label>
                            <input class="form-control" id="DpNotaPasos" name="DpNotaPasos" />
                            <span asp-validation-for="DpNotaPasos" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label> Nota Tecnica</label>
                            <input class="form-control" id="DpNotaTecnica" name="DpNotaTecnica" />
                            <span asp-validation-for="DpNotaTecnica" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label> Nota de Interes</label>
                            <input class="form-control" id="DpNotaInteres" name="DpNotaInteres" />
                            <span asp-validation-for="DpNotaInteres" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label> Nota de Habilidad</label>
                            <input asp-for="DpNotaHabilidad" class="form-control" id="DpNotaHabilidad" name="DpNotaHabilidad" />
                            <span asp-validation-for="DpNotaHabilidad" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Hallar promedio" class="btn btn-success" onclick="prueba()" />
                        </div>
                        <div class="form-group">
                            <label>Total Notas</label>
                            <input asp-for="DpTotalNota" id="DpTotalNota" class="form-control" type="number" />
                            @*<span asp-validation-for="DpTotalNota" class="text-danger"></span>*@
                        </div>
                        <div class="form-group">
                            <label>Observacion</label>
                            <textarea asp-for="VpObservacion" class="form-control" type="text"></textarea>
                            <span asp-validation-for="VpObservacion" id="VpObservacion" class="text-danger"></span>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        <span class="glyphicon glyphicon-remove"></span> Cerrar
                    </button>
                    <button type="button" id="createProgreso" data-dismiss="modal" class="btn btn-success btn-default">
                        <span class="glyphicon glyphicon-ok"></span> Registrar
                    </button>
                </div>
            </div>
        </div>
    </div>
    <input id="dni" value="@ViewData["dni"]" hidden />
    <input id="id" name="PkIpProgreso" value="@ViewData["id"]" hidden />
</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/gestionar_progreso/create.js"></script>
}

