@model SGIAMT_Integracion.Models.TProgreso

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutPerfil/_LayoutProfesor.cshtml";
}
<head>

    <link rel="stylesheet" href="~/css/RegistroStyle.css" />
</head>

<h2>Detalles</h2>

<div>
    <h4>Ver detalles</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VpNombreProgreso)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VpNombreProgreso)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DpNotaPasos)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DpNotaPasos)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DpNotaTecnica)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DpNotaTecnica)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DpNotaInteres)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DpNotaInteres)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DpNotaHabilidad)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DpNotaHabilidad)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DpTotalNota)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DpTotalNota)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VpObservacion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VpObservacion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PkIpCod" class="btn btn-default">Editar</a> |
    <a asp-action="Index" class="btn btn-default">Volver</a>
</div>
