@model IEnumerable<SGIAMT_Integracion.Models.TProgreso>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutPerfil/_LayoutProfesor.cshtml";
}

<head>
  
    <link rel="stylesheet" href="~/css/RegistroStyle.css" />
</head>
<h2>Progreso</h2>

<p>
    <a asp-action="Create" class="btn btn-success">Registrar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nombre Progreso
            </th>
            <th>
                Nota de Pasos
            </th>
            <th>
                Nota de Tecnica
            </th>
            <th>
                Nota de Interes
            </th>
            <th>
                Nota de Habilidad
            </th>
            <th>Resultado de Notas (%)</th>
            <th>Observacion</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VpNombreProgreso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DpNotaPasos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DpNotaTecnica)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DpNotaInteres)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DpNotaHabilidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DpTotalNota)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VpObservacion)
                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-success" style="background-color:steelblue" asp-route-id="@item.PkIpCod">Editar</a> |
                    <a asp-action="Details" class="btn btn-default" asp-route-id="@item.PkIpCod">Ver</a> |
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.PkIpCod">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>