@model SGIAMT.Models.TComprobantePago

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>TComprobantePago</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VcpFecha)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VcpFecha)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VcpNombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VcpNombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VcpApaterno)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VcpApaterno)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VcpAmaterno)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VcpAmaterno)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VcpConcepto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VcpConcepto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VcpMonto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VcpMonto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VcpAño)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VcpAño)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VcpMes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VcpMes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VcpDocumento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VcpDocumento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FkIp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FkIp.PkIpId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PkIcpId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
