
@model IEnumerable<SGIAMT_Integracion.Controllers.Perfiles.AlumnohomeController.AsistenciaxUsuario1>
@{
    ViewData["Title"] = "Alumno";
    Layout = "~/Views/Shared/_LayoutPerfil/_LayoutAlumno.cshtml";
}

<head>

    <title>Reporte de Asistencia del Alumno</title>
    <link rel="stylesheet" href="~/css/RegistroStyle.css" />
</head>

<body>
    <div class="container">
        <div class="row ">
            <div class="col-10 register-right" style="width : 70% ; float :left">
                <h2>Reporte de Asistencia del Alumno</h2>

                <form asp-action="ReporteAsistencia" class="cod-form">
                    <div class="form-group" >
                        <label class="control-label">dni</label>
                        <input  class="form-control"  id="dni" value="72223546"  name="dni" />

                    </div>

                    <div class="form-group">
                        <label class="control-label">semana</label>
                        <input class="form-control" id="semana" name="semana" />


                    </div>
                    <div class="form-group">
                        <label class="control-label">dia</label>
                        <input class="form-control" id="dia" name="dia" />
                        <br />
                        <input type="submit" value="Buscar" class="btn btn-success" id="btnbuscar">

                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="background-color: #D3DFEC">
                                    Dni
                                </th>

                                <th style="background-color: #D3DFEC">
                                    hora
                                </th>

                                <th style="background-color: #D3DFEC">
                                    estado asistencia
                                </th>

                                <th style="background-color: #D3DFEC">
                                    semana
                                </th>

                                <th style="background-color: #D3DFEC">
                                    dia
                                </th>
                            </tr>
                        </thead>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td >
                                    @Html.DisplayFor(modelItem => item.FkIuDni)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.hora)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.VaEstadoAsistencia)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.semana)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.dia)
                                </td>

                                <td>
                                    <a asp-controller="TAsistencias" asp-action="Detalle" class="btn btn-success" style="background-color:steelblue" asp-route-id="@item.pkasistencia">Detalle</a>

                                    <a asp-controller="TAsistencias" asp-action="Imprimirdocument" class="btn btn-info" style="background-color:firebrick" asp-route-id="@item.pkasistencia">Imprimir Reporte</a>

                                </td>
                            </tr>
                        }


                    </table>

                </form>
            </div>

        </div>
    </div>
</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/EditarDatosAlumno.js"></script>
}
